.logo {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.logo img {
  width: 2rem;
  height: 2rem;
}

.logo h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
}
