.sidenav {
  height: 100vh;
  width: 14.125rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 1rem;

  gap: 1.75rem;
  background-color: var(--grey--background);
}

.sidenav div:first-child {
  margin-bottom: 3rem;
}

.sidenav div:last-child {
  margin-top: auto;
}
